
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr data-ng-repeat="project in projects">
                    <!--<td><a href="#/projects/{{project.projectId}}">{{ project.name }}</a></td>-->
                    <td><a href="" data-ng-click="editProject(project.projectId)">{{ project.name }}</a></td>
                    <td><a href="" data-ng-click="deleteProject(project.projectId)">delete</a></td>
                </tr>
                <tr>
                    <td colspan="5"><button type="button" class="btn btn-primary" data-ng-click="newProject()">New project</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
