<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">&times;</button>
            <h4 class="modal-title">Project</h4>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" placeholder="Name" data-ng-model="project.name" required autofocus>
         </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-primary" data-ng-click="saveProject()">Save changes</button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </div>
    </div>
</div>

